<div class="footer-section">
    <div class="copyright">
        ©2023 Janis Hülsebusch
    </div>
    <div>
        <a href="#">Datenschutz</a> |
        <a href="#">AGB</a> |
        <a href="#">Impressum</a>
    </div>
    <div class="socialmedia-section">
        <div class="socialmedia">
            Kontakt
            <div class="socialmedia-links">
                <a href="#">
                    <img src="./img/icon/email-48.png" alt="">
                </a>
                <a href="#">
                    <img src="./img/icon/whatsapp-48.png" alt="">
                </a>
            </div>
        </div>
        <div class="socialmedia">
            Vernetze dich
            <div class="socialmedia-links">
                <a href="#">
                    <img src="./img/icon/facebook-48.png" alt="">
                </a>
                <a href="#">
                    <img src="./img/icon/xing-48.png" alt="">
                </a>
                <a href="#">
                    <img src="./img/icon/linkedin-48.png" alt="">
                </a>
            </div>

        </div>

    </div>
</div>

</div>